body
{
	background-color: #607D8B;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

header
{
	background-color: #263238; 
	text-align: center;
	padding: 15px;
}
	header .profile-picture
	{
		width:125px;
		height: 125px;
		border-radius: 50%;
	}

section .content
{
	background-color: #B0BEC5;
	padding: 15px;
	margin:25px;
	border-radius: 20px;
	text-align: justify;
}
section .title{
	color: white;
}

footer
{
	background-color: #CFD8DC ;
	bottom: 0;
	padding: 5px;
	text-align: center;
}